/*
This is for css variables that control global 'atoms' like color & type. There are actually 2 variable types you can use, Sass and CSS variables. 
*/

$primary: blue;
$primary-tint: #F8F0FF;

$secondary: #FDDD8C;